@import url('https://fonts.googleapis.com/css2?family=Charm&family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital@1&display=swap');

$primaryColor: #af9a7d; 
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainRed: rgb(209, 75, 75);
$navbar: 'Charm', cursive;
$headFont: 'Montez', cursive;
$textFont: 'Gentium Basic', serif;
$lightShadow: 1px 3px 4px 0px rgba(248, 248, 248, 0.863);
$mainBorder: 2px solid $primaryColor;
$primaryBg: #222;